<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <title>Game Window</title>

</head>
<body class="header">
<div>
    <h1 class="t1" th:text="'Word: ' + ${game.gameArrayToWord}">Show Game Progress Here</h1>
</div>

<table class="purpleHorizon">
    <thead>
    <tr>
        <th>Game Id</th>
        <th>Game Status</th>
        <th>Incorrect Guesses</th>
        <th>Total Attempts</th>
        <th>Duplicate Correct Guesses</th>
        <th>Duplicate Incorrect Guesses</th>
        <th>All Chosen Letters</th>

    </tr>
    </thead>

    <tbody>
    <tr>
        <td th:text="${game.Id}"></td>
        <td th:text="${game.status}"></td>
        <td th:text="${game.numberOfIncorrectGuesses}"></td>
        <td th:text="${game.numberOfGuesses}"></td>
        <td th:text="${game.duplicateCorrectGuessCounter}">cell4_1</td>
        <td th:text=" ${game.duplicateInCorrectGuessCounter}">cell4_1</td>
        <td id="allChar" th:text=" ${game.allInputs}">cell4_1</td>
    </tr>

    </tbody>
</table>


<div>
    <img height="300" th:src="@{${'/images/' + game.numberOfIncorrectGuesses + '.jpg'}}" />
</div>
<div>
    <form action="#" th:action="@{/submitGuess}" method="post">
        <label for="guessedChar">Guess a Letter: </label>
        <input  class="tb5" type="text" id="guessedChar" name="guessedChar"  required="required" pattern="\S+" title="No Space Allowed"><br><br>
        <button style="display:inline" class="game-start-btn">Submit Letter</button>
    </form>
</div>
<div>
    <form action="#" th:action="@{/welcome}"  method="get">
        <button class="game-start-btn">Back To Welcome Page</button>
    </form>

</div>


</body>
</html>